body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenedor {
    margin-top: 100px;
}

h1 {
    color: #2c3e50;
}

p {
    color: #34495e;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2980b9;
}

.suscripcion {
    margin-top: 60px;
}

.suscripcion input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}